<!DOCTYPE html>
<html>
	<head>
		<title>Omar Wagih | Contact</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
		<link rel="manifest" href="static/favicon/site.webmanifest">

		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>

	<style>
		.montserrat {
			font-family: 'Montserrat', sans-serif;
		}
	</style>

	<body>
		<div class="w3-cell-row w3-padding-small w3-dark-grey w3-display-top w3-margin-bottom">
			<div class="w3-container w3-cell" style="color: rgb(0, 223, 200);">
				<h1 class="w3-montserrat"><strong>Omar Wagih</strong></h1>
			</div>
			<div class="w3-container w3-cell w3-cell-middle">
				<a href="{{ url_for('contact') }}" class="w3-bar-item w3-right w3-button w3-hide-small w3-mobile w3-hover-dark-grey w3-hover-text-aqua w3-text-aqua" style="font-family: 'Montserrat', sans-serif;">Contact</a>
				<div class="w3-dropdown-hover w3-bar-item w3-right w3-hide-small w3-mobile">
					<button class="w3-button">
						<a style="font-family: 'Montserrat', sans-serif;">Projects</a>
						<i class="arrow down" style="border: solid white; border-width: 0 1px 1px 0; display: inline-block; padding: 2px; transform: rotate(45deg); -webkit-transform: rotate(45deg);"></i>
					</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a href="{{ url_for('stockPredictor') }}" class="w3-bar-item w3-button style="font-family: 'Montserrat', sans-serif;"">Stock Predictor</a>
					</div>
				</div>
				<a href="{{ url_for('home') }}" class="w3-bar-item w3-right w3-button w3-hide-small w3-mobile" style="font-family: 'Montserrat', sans-serif;">Home</a>
				<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction2()">&#9776;</a>
			</div>
		</div>
		<div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
			<a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
			<button onclick="myFunction1('Demo1')" class="w3-bar-item w3-button">Projects</button>
				<div id="Demo1" class="w3-container w3-hide">
					<a href="{{ url_for('stockPredictor') }}" class="w3-bar-item w3-button">Stock Predictor</a>
				</div>
			<a href="{{ url_for('contact') }}" class="w3-bar-item w3-button">Contact</a>
		</div>
		  
		<script>
			function myFunction1(id) {
  				var x = document.getElementById(id);
  				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
  				} else { 
    				x.className = x.className.replace(" w3-show", "");
  				}
			}

		  	function myFunction2() {
				var x = document.getElementById("demo");
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
		  			x.className = x.className.replace(" w3-show", "");
				}
		  	}
		</script>

		<div class="w3-container w3-center w3-display-middle w3-mobile" style="width: 100%;">
			<p>Click <a href="mailto:omar.wagih@mail.mcgill.ca?Subject=Hello!" target="_top">here</a> to send me an email.</p>
		</div>

		<div class="w3-container w3-teal w3-center" style="margin-top: 1em; width: 100%; padding-bottom: 1em; position: absolute; bottom: 0;">
			<p>Find me on social media</p>
			<a href="https://www.facebook.com/omarw99" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
			<a href="https://www.instagram.com/omarwagih99/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
			<a href="https://www.linkedin.com/in/omar-wagih/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
		</div>
	</body>

</html>