<!DOCTYPE html>
<html>
	<head>
		<title>Omar Wagih | Contact</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
		<link rel="manifest" href="static/favicon/site.webmanifest">

		<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	</head>

	<style>
		.montserrat {
			font-family: 'Montserrat', sans-serif;
		}

		* {box-sizing: border-box;}
		
		input[type=number], select, numberarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
		}

		.disclaimer {
			color: black;
		}

		input[type=text], select, numberarea {
			width: 100%;
			padding: 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-sizing: border-box;
			margin-top: 6px;
			margin-bottom: 16px;
			resize: vertical;
		}
		
		input[type=submit] {
			background-color: rgb(129, 129, 129);
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
		
		input[type=submit]:hover {
			background-color: rgb(95, 95, 95);
		}

		input[type=reset] {
			background-color: rgb(129, 129, 129);
			color: white;
			padding: 12px 20px;
			border: none;
			border-radius: 4px;
			cursor: pointer;
		}
		
		input[type=reset]:hover {
			background-color: rgb(95, 95, 95);
		}
		
		.container1 {
			border-radius: 5px;
			background-color: #f2f2f2;
			padding: 10px;
		}

		#sector{
			height: 35px;   
		}
	</style>

	<body>
		<div class="w3-cell-row w3-padding-small w3-dark-grey w3-display-top w3-margin-bottom">
			<div class="w3-container w3-cell" style="color: rgb(0, 223, 200);">
				<h1 class="w3-montserrat"><strong>Omar Wagih</strong></h1>
			</div>
			<div class="w3-container w3-cell w3-cell-middle">
				<a href="{{ url_for('contact') }}" class="w3-bar-item w3-right w3-button w3-hide-small w3-mobile" style="font-family: 'Montserrat', sans-serif;">Contact</a>
				<div class="w3-dropdown-hover w3-bar-item w3-right w3-hide-small w3-mobile">
					<button class="w3-button w3-hover-dark-grey w3-hover-text-aqua w3-text-aqua">
						<a style="font-family: 'Montserrat', sans-serif;">Projects</a>
						<i class="arrow down" style="border: solid white; border-width: 0 1px 1px 0; display: inline-block; padding: 2px; transform: rotate(45deg); -webkit-transform: rotate(45deg);"></i>
					</button>
					<div class="w3-dropdown-content w3-bar-block w3-card-4">
						<a href="{{ url_for('stockPredictor') }}" class="w3-bar-item w3-button style="font-family: 'Montserrat', sans-serif;"">Stock Predictor</a>
					</div>
				</div>
				<a href="{{ url_for('home') }}" class="w3-bar-item w3-right w3-button w3-hide-small w3-mobile" style="font-family: 'Montserrat', sans-serif;">Home</a>
				<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="myFunction2()">&#9776;</a>
			</div>
		</div>
		<div id="demo" class="w3-bar-block w3-hide w3-hide-large w3-hide-medium">
			<a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
			<button onclick="myFunction1('Demo1')" class="w3-bar-item w3-button">Projects</button>
				<div id="Demo1" class="w3-container w3-hide">
					<a href="{{ url_for('stockPredictor') }}" class="w3-bar-item w3-button">Stock Predictor</a>
				</div>
			<a href="{{ url_for('contact') }}" class="w3-bar-item w3-button">Contact</a>
		</div>
		  
		<script>
			function myFunction1(id) {
  				var x = document.getElementById(id);
  				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
  				} else { 
    				x.className = x.className.replace(" w3-show", "");
  				}
			}

		  	function myFunction2() {
				var x = document.getElementById("demo");
				if (x.className.indexOf("w3-show") == -1) {
					x.className += " w3-show";
				} else { 
		  			x.className = x.className.replace(" w3-show", "");
				}
		  	}

			function validateForm() {
  				var currRevenue = parseFloat(document.forms["submitFinancials"]["currRevenue"].value);
				var totalAssets = parseFloat(document.forms["submitFinancials"]["totalAssets"].value);
				var outstandingShares = parseFloat(document.forms["submitFinancials"]["outstandingShares"].value);
				var currPrice = parseFloat(document.forms["submitFinancials"]["currPrice"].value);
  				if (currRevenue == 0) {
    				alert("Current Revenue/Sales cannot be 0");
					document.getElementById("currRevenue").focus();
    				return false;
  				}
				if (totalAssets == 0) {
					alert("Total Assets cannot be 0");
					document.getElementById("totalAssets").focus();
					return false;
				}
				if (outstandingShares == 0) {
					alert("Total Number of Outstanding Shares cannot be 0");
					document.getElementById("outstandingShares").focus();
					return false;
				}
				if (currPrice == 0) {
					alert("Current Market Price of One Share cannot be 0");
					document.getElementById("currPrice").focus();
					return false;
				}

				var totalLiabilities = parseFloat(document.forms["submitFinancials"]["totalLiabilities"].value);
				var totalEquity = parseFloat(document.forms["submitFinancials"]["totalEquity"].value);
				if (totalAssets != totalEquity + totalLiabilities) {
					alert("Total Assets do not equal Total Equity + Total Liabilities. Please make sure this condition is met.");
					document.getElementById("totalAssets").focus();
					return false;
				}

				var prevRevenue = parseFloat(document.forms["submitFinancials"]["prevRevenue"].value);
				var interestExpense = parseFloat(document.forms["submitFinancials"]["interestExpense"].value);
				var accountsReceivable = parseFloat(document.forms["submitFinancials"]["accountsReceivable"].value);
				var inventory = parseFloat(document.forms["submitFinancials"]["inventory"].value);
				var accountsPayable = parseFloat(document.forms["submitFinancials"]["accountsPayable"].value);
				var currLiabilities = parseFloat(document.forms["submitFinancials"]["currLiabilities"].value);
				var netIncome = parseFloat(document.forms["submitFinancials"]["netIncome"].value);
				var capex = parseFloat(document.forms["submitFinancials"]["capex"].value);
				var preferredDividends = parseFloat(document.forms["submitFinancials"]["preferredDividends"].value);
				if (prevRevenue == 0 || interestExpense == 0 || accountsReceivable == 0 || inventory == 0 || accountsPayable == 0 || currLiabilities == 0 || totalEquity == 0) {
					if (netIncome == capex && netIncome == preferredDividends) {
						return confirm("You are attempting to submit the form with one or more important fields having a value of 0. These specific fields happen to be in the denominator of the financial ratios that get computed and analyzed. To avoid crashing due to division by 0, the algorithm will automatically set those affected ratios to 0. Also, Net Income is equal to Capital Expenditures and Preferred Dividends. It is highly likely that this is a typo. You can submit the form either way, but doing so will greatly affect the accuracy of the algorithm. Do you want to submit anyways?");
					} else if (netIncome == capex) {
						return confirm("You are attempting to submit the form with one or more important fields having a value of 0. These specific fields happen to be in the denominator of the financial ratios that get computed and analyzed. To avoid crashing due to division by 0, the algorithm will automatically set those affected ratios to 0. Also, Net Income is equal to Capital Expenditures. It is highly likely that this is a typo. You can submit the form either way, but doing so will greatly affect the accuracy of the algorithm. Do you want to submit anyways?");
					} else if (netIncome == preferredDividends) {
						return confirm("You are attempting to submit the form with one or more important fields having a value of 0. These specific fields happen to be in the denominator of the financial ratios that get computed and analyzed. To avoid crashing due to division by 0, the algorithm will automatically set those affected ratios to 0. Also, Net Income is equal to Preferred Dividends. It is highly likely that this is a typo. You can submit the form either way, but doing so will greatly affect the accuracy of the algorithm. Do you want to submit anyways?");
					} else {
						return confirm("You are attempting to submit the form with one or more important fields having a value of 0. These specific fields happen to be in the denominator of the financial ratios that get computed and analyzed. To avoid crashing due to division by 0, the algorithm will automatically set those affected ratios to 0. You can submit the form either way, but doing so will greatly affect the accuracy of the algorithm. Do you want to submit anyways?");
					}
				}
			}
		</script>

	<div class="w3-container w3-center">
		<div class="algorithm">
			<h1 class="projectTitle">Stock Return Predictor</h1>
			<h4 class="projectTitle">--A Supervised Regression Machine Learning Project--</h4>
			<h5 class="projectTitle">Please fill in the fields below using a company of your choice's latest financial statements</h5>
			<p class="text">The Machine Learning algorithm will predict that stock's price percentage change in the upcoming year!
				<br>Please note that if any of these fields are missing or incorrectly filled, the algorithm loses a great amount of accuracy.
				<br>Preferably use audited annual financial statements, rather than quarterly.
			</p>

			<div class="w3-container w3-center w3-margin">
				<div class="container1">
					<form name="submitFinancials" action="{{ url_for('stockPredictorResult') }}" onsubmit="return validateForm()" method="GET">
						<h4>Basic Information:</h4>
						<label for="stockName">Company Name</label>
							<input type="text" id="stockName" name="stockName" placeholder="Tesla.." required minlength="2" maxlength="30" autofocus>

						<label for="ticker">Stock Ticker</label>
							<input type="text" id="ticker" name="ticker" placeholder="TSLA.." required minlength="1" maxlength="8">

						<h4>Income Statement Accounts:</h4>
						<label for="prevRevenue">Last Year's Revenue/Sales</label>
							<input type="number" id="prevRevenue" name="prevRevenue" placeholder="$2,000,000.." required>
							
						<label for="currRevenue">Current Revenue/Sales</label>
							<input type="number" id="currRevenue" name="currRevenue" placeholder="$3,000,000.." required>
							
						<label for="cogs">Cost of Goods Sold</label>
							<input type="number" id="cogs" name="cogs" placeholder="$1,800,000.." required>
							
						<label for="ebitda">EBITDA</label>
							<input type="number" id="ebitda" name="ebitda" placeholder="$1,200,000.." required>

						<label for="ebit">EBIT</label>
							<input type="number" id="ebit" name="ebit" placeholder="$1,000,000.." required>

						<label for="interestExpense">Interest Expense</label>
							<input type="number" id="interestExpense" name="interestExpense" placeholder="$200,000.." required>

						<label for="netIncome">Net Income</label>
							<input type="number" id="netIncome" name="netIncome" placeholder="$800,000.." required>


						<h4>Balance Sheet Accounts:</h4>
						<h5>Assets</h5>
						<label for="cash">Cash & Cash Equivalents</label>
							<input type="number" id="cash" name="cash" placeholder="$500,000.." required>
								
						<label for="accountsReceivable">Accounts Receivable</label>
							<input type="number" id="accountsReceivable" name="accountsReceivable" placeholder="$300,000.." required>
								
						<label for="inventory">Inventory</label>
							<input type="number" id="inventory" name="inventory" placeholder="$250,000.." required>

						<label for="currAssets">Current Assets</label>
							<input type="number" id="currAssets" name="currAssets" placeholder="$1,600,000.." required>

						<label for="totalAssets">Total Assets</label>
							<input type="number" id="totalAssets" name="totalAssets" placeholder="$4,000,000.." required>
						
						<h5>Liabilities</h5>
						<label for="accountsPayable">Accounts Payable</label>
							<input type="number" id="accountsPayable" name="accountsPayable" placeholder="$450,000.." required>

						<label for="currLiabilities">Current Liabilities</label>
							<input type="number" id="currLiabilities" name="currLiabilities" placeholder="$900,000.." required>
						
						<label for="totalLiabilities">Total Liabilities</label>
							<input type="number" id="totalLiabilities" name="totalLiabilities" placeholder="$1,900,000.." required>

						<h5>Shareholders' Equity</h5>
						<label for="preferredDividends">Preferred Dividends</label>
							<input type="number" id="preferredDividends" name="preferredDividends" placeholder="$600,000.." required>

						<label for="totalEquity">Total Shareholders' Equity</label>
							<input type="number" id="totalEquity" name="totalEquity" placeholder="$2,100,000.." required>
						<p>*Please make sure that Total Assets = Total Liabilities + Total Shareholders' Equity at this point*</p>
						<br>

						<h4>Statement of Cash Flows Accounts:</h4>
						<label for="capex">Capital Expenditures</label>
							<input type="number" id="capex" name="capex" placeholder="$850,000.." required>
						
						
						<h4>Other Market Information:</h4>
						<label for="outstandingShares">Total Number of Outstanding Shares</label>
							<input type="number" id="outstandingShares" name="outstandingShares" placeholder="2,000,000.." required>

						<label for="dividendPerShare">Dividend per Share</label>
							<input type="number" id="dividendPerShare" name="dividendPerShare" placeholder="$1.." step="0.01" required>
						
						<label for="currPrice">Current Market Price of One Share</label>
							<input type="number" id="currPrice" name="currPrice" placeholder="$25.." step="0.01" required>
						
						<label for="sector">Sector</label>
							<select id="sector" name="sector" required>
								<option hidden="" value="chooseSector">Select a Sector..</option>
								<option value="basicMaterials">Basic Materials</option>
								<option value="communicationServices">Communication Services</option>
								<option value="consumerCyclical">Consumer Cyclical/Consumer Durables</option>
								<option value="consumerDefensive">Consumer Defensive/Consumer Non-Durables</option>
								<option value="energy">Energy</option>
								<option value="financialServices">Financial Services</option>
								<option value="healthcare">Healthcare</option>
								<option value="industrials">Industrials</option>
								<option value="realEstate">Real Estate</option>
								<option value="technology">Technology</option>
								<option value="utilities">Utilities</option>
							</select>
						<input type="submit" value="Submit">
						<input type="reset" value="Reset" style="margin-bottom: 0.5em;">
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="w3-container w3-teal w3-center w3-display-bottom" style="margin-top: 1em; width: 100%; padding-bottom: 1em; bottom: 0;">
		<h4 class="disclaimer"><strong>Disclaimer:</strong></h4>
		<p>This tool is <strong><u>NOT</u></strong> 100% accurate.
		<br>No algorithm can predict stock performance with absolutely no error.
		<br>Nevertheless, if you choose to use this tool for trading purposes, please do so at your own discretion.</p>
	</div>
	</body>

</html>